{% extends "bingo_app/base.html" %}
{% load i18n %}

{% block title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h3 class="card-title text-center">{% trans "Login Cancelled" %}</h3>
                    <p class="text-center">{% trans "You decided to cancel the login process." %}</p>
                    <div class="text-center">
                        <a href="{% url 'login' %}" class="btn btn-primary">{% trans "Back to Login" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
